<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hub SYSTEM "http://dtd.saxonica.com/stratosphere/hub.dtd">
<hub>
  <id>hub</id>
  <host>127.0.0.1</host>
  <port>4444</port>
  <servlets>
    <servlet>
      <class>org.openqa.grid.web.servlet.LifecycleServlet</class>
    </servlet>
  </servlets>
  <prioritizer class="org.openqa.grid.internal.utils.DefaultCapabilityMatcher"/>
  <capabilityMatcher class="org.openqa.grid.internal.utils.DefaultCapabilityMatcher"/>
  <newSessionWaitTimeout>-1</newSessionWaitTimeout>
  <throwOnCapabilityNotPresent>true</throwOnCapabilityNotPresent>
  <cleanUpCycle>5000</cleanUpCycle>
  <maxSession>5</maxSession>
  <timeout>
    <browserTimeout>0</browserTimeout>
    <idleTimeout>0</idleTimeout>
    <timeout>1800</timeout>
  </timeout>
</hub>
