<node name="Node1" 
      role="node" 
      hub="http://localhost:4444/grid/register" 
      port="5555" 
      host="localhost" 
      registerCycle="5000" 
      unregisterIfStillDownAfter="60000" 
      maxSession="5">
    <proxy id="org.openqa.grid.selenium.proxy.DefaultRemoteProxy" 
           maxInstances="5" 
           useSystemProperties="false">
        <remoteHost value="http://localhost:5555"/>
    </proxy>
</node>
