<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<MaxCpuCount>1</MaxCpuCount>
		<TestTimeout>0</TestTimeout>
		<TestSessionTimeout>600</TestSessionTimeout>
		<ShadowCopy>True</ShadowCopy>
		<WorkDirectory>.</WorkDirectory>
	</RunConfiguration>
	<NUnit>
		<TestAssembly>
			<Path>.</Path>
			<ShadowCopy>True</ShadowCopy>
		</TestAssembly>
	</NUnit>
</RunSettings>